*{
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background: #233b4f; */
    background-color: black;
    color: #fff;
    
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(./image/gg.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
    mix-blend-mode: hard-light;

}

.container{
 padding: 10px 10%;
 align-items: center;
 justify-content: space-between;
 flex-wrap: wrap;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    
}
nav ul li a::after{
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    transform: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
    background: #ff004f;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    animation: typing 4s steps(20) infinite;
    overflow: hidden;
    white-space: nowrap; 
}

/* Animation for the initial text reveal in header */
.header-text p,
.header-text h1 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.header-text p.animate,
.header-text h1.animate {
  opacity: 1;
  transform: translateY(0);
}

.header-text p {
  transition-delay: 0.2s; /* Delay for the paragraph */
}

.header-text h1 {
  transition-delay: 0.4s; /* Delay for the heading */
}
  
.header-text h1 span{
    color: #ff004f;
}
/* --------about--------- */
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 200px;
    filter: drop-shadow(10px 15px 20px #47abed);
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10p 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.about-col-2 p{
    margin-top: 40px;
}

#About .highlight-container {
    position: relative; /* Create positioning context */
    height: 0; /* Important for positioning */
    margin-left: -500px;
}

#About .highlight {
    font-size: 4.5em;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.2;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 15px;
}
/* ---------portfolio--------- */
#portfolio .highlight {
    font-size: 4.5em;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 945px;
    left: 310px;
    transform: translateX(-50%);
    opacity: 0.2;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 15px;
}

#portfolio .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

#portfolio .project-card {
    border: 1px solid #000000; 
    padding: 20px;
    border-radius: 8px;
    background-color: #000000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-direction: column;
}

#portfolio .project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 15px;
    display: block;
}

#portfolio .project-card h3 {
    margin-bottom: 10px;
    color: #fff;
}

#portfolio .project-card p {
    margin-bottom: 20px;
    color: #ababab;
    font-family: sans-serif
}
#portfolio .project-card:hover {
    transform: translateY(-35px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}

#portfolio .project-card a.project-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 1px solid #e60047;
}

#portfolio .project-card a.project-button:hover {
    background-color: #e60047;
}
.btn {
    display:block;
    margin: 50px auto;
    width: fit-content;
    padding: 14px 50px;
    background-color: #e60047;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #e60047;
    transition: background 0.5s;

}

/* ------contact----- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons a{
    margin-top: 10%;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translate(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: black;
    font-weight: 300;
    margin-top: 20px;
}

#contact .highlight {
    font-size: 4.5em;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 400px;
    left: 310px;
    transform: translateX(-50%);
    opacity: 0.2;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 15px;
}
/* General scroll animation setup */
.js-scroll {
    opacity: 0;
    transform: translateY(50px); /* Move elements down initially */
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  
  .js-scroll.scrolled {
    opacity: 1;
    transform: translateY(0); /* Return to original position */
  }
  
  #About .about-col-2.scrolled,
  #portfolio .work-list.scrolled,
  #contact .contact-left.scrolled,
  #contact .contact-right.scrolled {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Add slight delays for staggered animations (optional) */
  #About .about-col-2 {
    transition-delay: 0.2s;
  }
  
  #portfolio .work:nth-child(2) {
    transition-delay: 0.2s;
  }
  
  #portfolio .work:nth-child(3) {
    transition-delay: 0.4s;
  }
  
  #contact .contact-right {
    transition-delay: 0.2s;
  }


/* -------css for small screens---------- */
nav .fas {
    display: none;
}

@media only screen and (max-width: 600px) {
    #header {
        background-image: url(./image/gg.gif);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        padding-bottom: 250px;
        height: auto;
    }
    .header-text {
        margin-top: 15%;
        font-size: 16px;
    }
    .header-text h1 {
        font-size: 30px;
        animation: typing-small 4s steps(20) infinite;
    }
    body {
        margin: 0;
        padding: 0;
    }
    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px; 
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }
        /* Hide highlight text on small screens */
        #About .highlight,
        #portfolio .highlight,
        #contact .highlight {
            display: none;
        }

    .copyright {
        font-size: 14px;
    }
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff004f;
}

#msg{
    color: #61b752;
    margin-top: -10px;
    display: block;
}